.appContainer{
  width: 80vw;
  max-height: 70vh;

  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  background-color: #fff;
  border-radius: 20px;

  > *{
    padding: 15px 20px;
  }

  @media screen and (max-width:800px) {
    width: 100vw;
  }
}