/* Background: */
$bgColor: #303030;
$bgColorSemiLight: #505050;
$bgColorLight: #808080;

/* TextColor */
$lightText: #757575;
$darkText: #101010;

/* Fonts: */
$fontNoto: "Noto Serif";

/* Extra Colors: */
$red: #E90313;
$white: #eee;
$green: #008000