@import "assets/style/_variables.scss";

.container{
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.filterElement{
  background-color: $bgColorLight;
  border-radius: 5px;
  height: 40px;

  > *{
    padding: 10px;
    line-height: 20px;
  }

}