@import 'assets/style/_variables.scss';

.container{
  margin: 20px;
  display: grid;
  grid-template-columns: minmax(100px, 300px) auto;
  gap: 20px;
}

.logo{
  margin-right: 10px;
  width: 100%;
}
