@import 'assets/style/_variables.scss';

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  justify-items: flex-start;
  align-items: center;
  align-content: flex-start;

  padding: 20px 20px 10px;

}

.logo{
  height: 50px;
  margin-right: 10px;
}

.navMenu{
  display: flex;

}

.menuLink{
  padding: 10px 15px;
  margin: 5px 5px 0 20px;
  text-decoration: none;
  color: $white;
  font-size: 1.1rem;
  border-radius: 2px;
  transition: 0.5s;
  
  &:hover{
    background-color: $darkRed;
  }

}