@import "assets/style/_variables.scss";

.container{
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: flex-start;
}

.warningMessage{
  color: $darkRed;
  font-size: 1.2rem;
}