@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');

/* menu de navegação*/

nav#menu{
    display: block;
}
nav#menu ul {
    list-style: none; /*some com as bolinhas*/
    text-transform: uppercase; /* deixa tudo em maiusculo*/
    position: absolute;
    top: -15px;
    left: 40%;
}

nav#menu li{
    display: inline;/*configura a exibição das palavras*/
    background-color: #dddddd;
    padding: 5px;
    margin: 1px;
    box-shadow:2px 2px 10px ;
    transition: background-color 0.5s;
}

nav#menu li:hover{
    background-color: rgb(134, 134, 134);
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: black;
    font-family: Cambria;
    text-decoration: none;
}

nav#menu a:hover {
    color: white;
}

header#cabecalho img#imgmenu{
    position: absolute;
    left: 950px;
    top: 50px;
}

/*cabeçalho*/

img#logo{
    position: relative;
    top: 5px;
    left: 10%;
    padding: 1px;
}

header#cabecalho {
    border-bottom: 1px rgb(100, 100, 100) solid;
    height: 160px;
}

h2#subtitulo{
    position: relative;
    left: 10px;
    color: rgb(34, 34, 34);
    margin: 10px 0px 5px 0px;
    font-family: 'Playfair Display', sans-serif;
}

/**/

footer p#copy{
    font-family: Cambria;
}
footer#rodape{
    border-top: 1px #606060 solid;
    clear: both;
}

p#copy{
    padding-top: 5px;
    text-align: center;
    color: black;
}

p#copy a{
    color: black;
}

/*interfaçe*/

div#interface{
    width: 1000px;
    margin: 20px auto 20px auto; /* cima direita baixo esquerda*/
    box-shadow: 0px 0px 10px gray;
    padding: 10px;
}

/* titulo, subtitulo e texto*/

section#corpo h1#principal{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}

section#corpo h3#subprincipal{
    font-size: 15px;
    margin-top: 0px;
    padding: 0px;
}

section#corpo p{
    text-align: justify;
    vertical-align: middle;
    font-family: 'Times New Roman',sans-serif;
}

/* Fim do Basico */

form#usuario{
    position: relative;
    left: 250px;
    text-align: center;
    width: 500px;
}

form#usuario fieldset p{
    font-family: 'Saira Condensed', sans-serif;
    size: 10px;
    margin-bottom: 5px;
    text-align: left;
}

legend{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

form#usuario fieldset#ident{
    background: url(../imagens/imagensFlCn/icone-contato.png) no-repeat;
    background-position: 100% 100%;
}

form#usuario fieldset#endereço{
    background: url(../imagens/imagensFlCn/icone-endereco.png) no-repeat;
    background-position: 100% 100%;
}

form#usuario fieldset#msg{
    background: url(../imagens/imagensFlCn/icone-mensagem.png) no-repeat;
    background-position: 100% 100%;
}

form#usuario fieldset#comprar{
    background: url(../imagens/imagensFlCn/icone-pagamento.png) no-repeat;
    background-position: right;
}

input:hover, textarea:hover {
    background-color: #cecece;
}