@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body{
    background-color:	#ffffff;
}

div#interface{
    width: 1000px;
    margin: 20px auto 20px auto; /* cima direita baixo esquerda*/
    box-shadow: 0px 0px 10px gray;
    padding: 10px;
}

header#cabecalho img#imgmenu{
    position: absolute;
    left: 950px;
    top: 50px;
}

img#logo{
    position: relative;
    top: 5px;
    left: 10%;
    padding: 1px;
}

h2#subtitulo{
    position: relative;
    left: 10px;
    color: rgb(34, 34, 34);
    margin: 10px 0px 5px 0px;
    font-family: 'Playfair Display', sans-serif;
}

header#cabecalho {
    border-bottom: 1px rgb(100, 100, 100) solid;
    height: 160px;
}

h1#TPrincipal{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
h3#subprincipal{
    font-size: 15px;
    padding-top: 0px;
}

p#pmateria{
    text-align: justify;
    text-indent: 50px;
    font-family: Cambria, sans-serif;
}
span#sublinhado{
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*formatação de imagens*/

figure.foto-legenda{
    position: relative;
    border: 2px solid white;/*borda*/
    box-shadow: black 1px 1px 4px;
}

figure.foto-legenda img{
    width: 100%;/*largura*/
    height: 100%;/*altura*/
} 
figure.foto-legenda figcaption.principal{
    position: absolute; /*posição da legenda*/
    top: 0px;/*posiçao da legenda*/
    color: rgb(185, 185, 185);/*cor da legenda*/
    background-color: rgba(0,0,0,.4);/*cor do fundo*/
    width: 100%;/*largura*/
    height: 98%;/*altura*/
    text-align: center;/*alinhamento do texto*/
    vertical-align: middle;
    padding: 50px;/*espaço dentro */
    box-sizing: border-box;/*deixara borda na imagem depois de usar o padding*/
    transition: opacity 1s;/*tempo de transição*/
}
figure.foto-legenda:hover figcaption.principal{
    opacity: 0;
}

figure.foto-legenda figcaption.cont{
    position: absolute; /*posição da legenda*/
    top: 0px;/*posiçao da legenda*/
    color: rgb(185, 185, 185);/*cor da legenda*/
    background-color: rgba(0,0,0,.4);/*cor do fundo*/
    width: 100%;/*largura*/
    height: 98%;/*altura*/
    /*alinhamento do texto*/
    vertical-align: middle;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;/*deixara borda na imagem depois de usar o padding*/
    transition: opacity 1s;/*tempo de transição*/
    
}
figure.foto-legenda:hover figcaption.cont{
    opacity: 0;
}

/*formatação do menu*/

nav#menu{
    display: block;
}
nav#menu ul {
    list-style: none; /*some com as bolinhas*/
    text-transform: uppercase; /* deixa tudo em maiusculo*/
    position: absolute;
    top: -15px;
    left: 40%;
}

nav#menu li{
    display: inline;/*configura a exibição das palavras*/
    background-color: #dddddd;
    padding: 5px;
    margin: 1px;
    box-shadow:2px 2px 10px ;
    transition: background-color 0.5s;
}

nav#menu li:hover{
    background-color: rgb(134, 134, 134);
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: black;
    font-family: Cambria;
    text-decoration: none;
}

nav#menu a:hover {
    color: white;
}

/* rodapé */

footer#rodape{
    border-top: 1px #606060 solid;
    clear: both;
}

p#copy{
    padding-top: 5px;
    text-align: center;
    color: black;
}

p#copy a{
    color: black;
}

/* section */

section#corpo{
    display: block;
    width: 500px;
    float: left;
    border-right: 1px #606060 solid;
    padding-left: 30px;
    padding-right: 30px;
}
table#tabelaspec {
    border: 1px #606060 solid;
    border-spacing: 0px;
    margin-bottom: 10px;
} 

table#tabelaspec td{
    border: 1px #353535 solid;
    font-family: Cambria ;
    padding: 5px;
}

table#tabelaspec td.cd {
    background-color: #757575;
    text-align: center;
    border-color: #606060;
    
}

table#tabelaspec td.ce{
    background-color: #454545;
    color: #dddddd;
    text-align: center;
}

table#tabelaspec caption{
    font-size: 20px;
    color: #000000;
    font-family: 'Playfair Display', serif;
}

table#tabelaspec caption span{
    display: block;
    float: right;
    font-size: 10px;
    margin-top: 12px;
    color: black;
}


article#noticiaPrincipal h2{
    padding: 5px;
    text-align: center;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    background-color: #c5c5c5;
}

/* aside */

aside#lateral{
    display: block;
    width: 370px;
    float: right;
    padding: 30px;
    margin-top: 10px;
    background-color: #b8b8b8;
}

aside h2#materia{
    padding: 5px;
    color: #f7f7f7;
    text-align: center;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    background-color: #404040;
}

/* footer */
footer p#copy{
    font-family: Cambria;
}

/* video */

