div#conteiner{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 300px;
}

h1#tit_principal{
    font-weight: 300;
}

form#formulario{
    text-align: center;
}

.form-group{
    margin: 10px 0px;
    text-align: start;
}

