body{
    background: rgb(255, 127, 0);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center; /*centralizar o texto */
}
section{
    background: white;
    border-radius: 10px; /* borda arredondada */
    padding: 15px; /*tamanho da section no caso */
    width: 500px; /*largura*/
    margin: auto;/* centralizar a div*/
    box-shadow: 5px 5px 10px rgba(41, 41, 41, 0.678);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
div#div{
    text-align: center;
}

