.recipe_more_about{

  width: 100px;
  padding: 7px 4px;
  background-color: #a00;
  color: #eee;
  border-radius: 5px;
  border: 1px solid #eee;

  transition: 1s;

}

.recipe_more_about:hover{
  color: #a00;
  background-color: #eee;
  border: 1px solid #a00;
  cursor: pointer;
}