body{
    background-color: #8be4fa;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: auto;
    background-color: #fff;
    width: 700px;
    font-size: 1.5em;
    color: rgb(41, 41, 41);
    border-radius: 10px;
    padding: 5px;
}

div{
    margin: 5px;
}

img#img{
    border-radius: 50%;
}