*{
    margin: 0px;
    padding: 0px;
}

section#bateria{
    display: inline-flex;
}

article#keyboard{
    position: relative;
    left: 120px;
}

article#keyboard > *{
    margin: 10px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: rgb(253, 32, 32);
    border: 2px solid rgb(65, 64, 64);
}

div.key_info{
    position: relative;
}

/* discos */
div#t{
    top: 80px;
}
div#r{
    left: 70px;
    top: 65px;
}

div#u{
    left: 370px;
    top: 4px;
}
div#i{
    left: 400px;
    top: 30px;
}

/* tambores */
div#a{
    left: 80px;
    top: 128px;
}
div#s{
    left: 117px;
    top: -3px;
}
div#d{
    left: 280px;
    top: -37px;
}
div#f{
    left: 345px;
    top: -23px;
}

div#k{
    left: 200px;
    top: 100px;
}