@import url("./recipe_components/recipe_image.css");
@import url("./recipe_components/recipe_description.css");
@import url("./recipe_components/recipe_button.css");

.recipe_container{

  width: 250px;
  height: 300px;
  background-color: rgb(199, 199, 199);
  margin: 0 10px 10px;

}