:root{
    --background: rgb(89, 89, 255);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--background);
    font-family: sans-serif;
}

h1#tit_principal{
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
}

main{
    margin: 0px auto;
    background-color: white;
    max-width: 350px;
    min-width: 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}

table{
    margin: auto;
}

th{
    width: 100px;
    height: 100px;
    font-size: 3em;
    color: var(--background);
}

.left{
    border-right: 1px gray solid;
}

.bottom{
    border-bottom: 1px gray solid;
}

p#p_winner{
    color: var(--background);
    font: 500 1.5em sans-serif;
    text-align: center;
}

button#restart{
    display: inline-block;
    width: 70px;
    height: 30px;
    margin: 10px 0px 2px;
    background-color: var(--background);
    color: white;
    border-radius: 10px 0px;
    border: 2px solid rgb(64, 64, 255);
}
