.container{
  text-align: center;
  grid-column: 1 / 2;

  > *{
    margin-bottom: 15px;
  }
  > *:last-child{
    margin-bottom: 0;
  }
}

.timer{
  background-color: #7f6cd580;
  padding: 10px;

  span{
    display: inline-block;
    color: #7f6cd5;
    font-size: 6em;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px #7f6cd5;
  }

  span:nth-child(3n-1), span:nth-child(3n-2){
    background-color: #fff;
  }

  span:nth-child(3n){
    background-color: transparent;
  }

}