@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    background-color: whitesmoke;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main#principal{
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.300);
}

main{
    background-color: whitesmoke;
}

h1.tit_principal{
    margin: 10px 0px;
    font: 400 2.3em sans-serif;
}

form{
    font-family: 'Lora', serif;
}

input#input_nome{
    margin-bottom: 10px;
}

button#bt_submit{
    background-color: red;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}

div#comments{
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.300);
}

article.comment{
    padding: 10px;
}

.gray{
    background-color: rgb(196, 196, 196);
}

h3.nome{
    font-size: 1.2em;
    margin: 5px 0px;
}

p.texto{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    margin: 10px 0;
}

button.delete_button{
    background-color: rgb(255, 22, 22);
    color: white;
    padding: 5px 10px;
    border-radius: 5px 1px;

    transition: 0.5s;
}

button.delete_button:hover{
    box-shadow: 1px 1px 10px #0000006b;
}
