@import "assets/style/_variables.scss";

.container{
  display: flex;
  flex-flow: row wrap;

  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;

  margin: 20px;
  padding: 10px;
  background-color: $bgColorLight;

  > *{
    background-color: $bgColorLight;
  }
}

.input{
  border: none;
  height: 40px;
  width: calc(100vw - 95px);
}

.input, .input::placeholder{
  font-size: 1.2em;
  color: $lightText;
}

input:focus{
  border: none;
  box-shadow: none;
  outline: none;
}

.image{
  width: 25px;
  height: 25px;
}