@import "assets/style/_variables.scss";

.container{
  margin: 20px;
}

.list{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  margin: auto;
}

.filter{
  background-color: $bgColorLight;
  margin: 0 10px 10px 0;
  width: 200px;
  border-radius: 5px;
}

.checkBox{
  display: none;
}

.checkBox:checked + .name{
  background-color: $red;
}

.name{
  text-transform: capitalize;
  color: $darkText;
  display: inline-block;
  padding: 10px;
  width: 100%;
  text-align: center;
  user-select: none;
}